[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.11.1"
fastapi = "==0.103.1"
uvicorn = "==0.23.0"
sqlalchemy = "==2.0.0"
sqlalchemy_utils = "==0.41.1"
asyncpg = "==0.28.0"
httpx = "==0.24.1"
greenlet = "==2.0.2"
pydantic-settings = "==2.0.3"
fastapi-restful = "==0.5.0"
typing_inspect = "==0.9.0"
types-python-dateutil = "==2.8.19"
bcrypt = "==4.0.1"
python-jose = "==3.3.0"


[dev-packages]
flake8 = "*"
isort = "*"
mypy = "*"
black = "*"
coverage = "*"
locust = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-dotenv = "*"
pytest-env = "*"
Faker = "*"

[requires]
python_version = "3.11"
